<!doctype html>
<html>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>Contact Form</h1>
    <form method="POST" action="{{ url_for('index') }}">
      {{ form.email.label }}
      {{ form.email() }}
      <br>
      {{ form.comments.label }}
      {{ form.comments(rows=5, cols=40) }}
      <br>
      {{ form.requires_followup.label }}
      {{ form.requires_followup() }}
      <br>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>